body { 	
	margin:10px; 
  	padding:10px; 
  	background-color: floralwhite;
  	font-family: 'Shadows Into Light';
  	}
 #map {
 	position: static;
	display: block;
	margin-left: auto;
   	margin-right: auto;
	height: 350px;
	width: 600px;
	 }
.title {

	text-align: center;
	font-size: 30px;

}

.entry {
	font-size: 20px;
	letter-spacing: 1px;

}

.tabs {
	font-size: 30px;
	letter-spacing: 1px;
	display: table;
	text-align: center;

}

a{
	float: left;
	display: block;
	padding: 3px 5px;
	text-decoration: none;
	border-radius: 3px 3px 0 0;
	background: #BEB5A4;
	border: 1px solid #DAD0BD;
	border-bottom: none;
	color: #000 ;
	font-size: 0.7em;
}


